<odoo>

    <record id="action_feed_table_xls_rprt" model="ir.actions.server">
        <field name="name">Feed Table XLS Report</field>
        <field name="model_id" ref="model_feed_table"/>
        <field name="binding_model_id" ref="model_feed_table"/>
        <field name="state">code</field>
        <field name="binding_type">report</field>
        <field name="code">
            action = model.action_feed_table_xls_rprt()
        </field>
    </record>

    <record id="action_account_analytic_account" model="ir.actions.act_window">
        <field name="name">Analytic Accounts</field>
        <field name="res_model">account.analytic.account</field>
        <field name="view_mode">list,kanban,form</field>
    </record>

    <record id="action_all_task" model="ir.actions.act_window">
        <field name="name">All Tasks</field>
        <field name="res_model">project.task</field>
        <field name="view_mode">list,kanban,form,calendar,pivot,graph,activity</field>
    </record>

    <record id="view_all_project" model="ir.actions.act_window">
        <field name="name">Projects</field>
        <field name="res_model">project.project</field>
        <field name="domain">[('poultry', '=', True)]</field>
        <field name="view_mode">kanban,list,form</field>
    </record>

    <record id="action_timesheet_all" model="ir.actions.act_window">
        <field name="name">All Timesheets</field>
        <field name="res_model">account.analytic.line</field>
        <field name="view_mode">list,form,kanban,pivot,graph</field>
    </record>

    <record id="view_employee_list" model="ir.actions.act_window">
        <field name="name">Employees</field>
        <field name="res_model">hr.employee</field>
        <field name="view_mode">kanban,list,form,activity,graph,pivot</field>
    </record>

    <record id="rfq_purchase" model="ir.actions.act_window">
        <field name="name">Requests for Quotation</field>
        <field name="res_model">purchase.order</field>
        <field name="view_mode">list,kanban,form,pivot,graph,calendar,activity</field>
    </record>

    <record id="action_purchase" model="ir.actions.act_window">
        <field name="name">Purchase Orders</field>
        <field name="res_model">purchase.order</field>
        <field name="view_mode">list,kanban,form,pivot,graph,calendar,activity</field>
        <field name="domain">[('state','in',('purchase', 'done'))]</field>
    </record>

    <record id="action_sale_order" model="ir.actions.act_window">
        <field name="name">Sales Orders</field>
        <field name="res_model">sale.order</field>
        <field name="view_mode">list,kanban,form,calendar,pivot,graph,activity</field>
        <field name="domain">[('state', 'not in', ('draft', 'sent', 'cancel'))]</field>
    </record>

    <record id="action_sale_quotations" model="ir.actions.act_window">
        <field name="name">Quotations</field>
        <field name="res_model">sale.order</field>
        <field name="view_mode">list,kanban,form,calendar,pivot,graph,activity</field>
    </record>

    <record id="action_invoice" model="ir.actions.act_window">
        <field name="name">Invoices</field>
        <field name="res_model">account.move</field>
        <field name="view_mode">list,kanban,form,activity</field>
        <field name="domain">[('move_type', '=', 'out_invoice')]</field>
        <field name="context">{'default_move_type': 'out_invoice'}</field>
    </record>

    <record id="action_bill" model="ir.actions.act_window">
        <field name="name">Bills</field>
        <field name="res_model">account.move</field>
        <field name="view_mode">list,kanban,form,activity</field>
        <field name="domain">[('move_type', '=', 'in_invoice')]</field>
        <field name="context">{'default_move_type': 'in_invoice', 'display_account_trust': True}</field>
    </record>

    <record id="action_picking" model="ir.actions.act_window">
        <field name="name">Receipts</field>
        <field name="res_model">stock.picking</field>
        <field name="view_mode">list,kanban,form,calendar,activity</field>
        <field name="domain"></field>
        <field name="context">{'contact_display': 'partner_address', 'default_company_id': allowed_company_ids[0],
            'restricted_picking_type_code': 'incoming', 'search_default_reception': 1}
        </field>
    </record>

    <record id="action_product" model="ir.actions.act_window">
        <field name="name">Products</field>
        <field name="res_model">product.product</field>
        <field name="view_mode">list,form,kanban</field>
        <field name="context">{'display_last_product': True}</field>
        <field name="domain">[('last_product', '=', 'True')]</field>
    </record>

    <record id="action_product_main" model="ir.actions.act_window">
        <field name="name">Products</field>
        <field name="res_model">product.product</field>
        <field name="view_mode">list,form,kanban</field>
        <field name="context">{'display_is_chicken': True}</field>
        <field name="domain">[('is_chicken', '=', 'True')]</field>
    </record>

    <record id="action_poultry_management_dashboard" model="ir.actions.client">
        <field name="name">Poultry Management</field>
        <field name="tag">poultry_dashboard</field>
    </record>

    <record id="action_general_configuration_poultry" model="ir.actions.act_window">
        <field name="name">Settings</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'general_settings', 'bin_size': False}</field>
    </record>

    <menuitem id="menu_chicken_farm_management"
              name="Poultry"/>


    <menuitem id="menu_poultry_management_dashboard_main"
              name="Overview"
              parent="menu_chicken_farm_management"
              sequence='0'/>

    <menuitem id="menu_overview_poultry"
              name="Dashboard"
              parent="menu_chicken_farm_management"
              action="action_poultry_management_dashboard"
              sequence='1'/>

    <!-- Estimation -->
    <menuitem id="menu_hen_estimation"
              name="Costing"
              parent="menu_chicken_farm_management"
              sequence="30"/>

    <menuitem id="menu_hen_cost_estimation"
              name="Cost Estimation"
              action="action_view_hen_cost_estimation"
              parent="menu_hen_estimation"
              sequence="20"
              groups="group_manager,group_user"/>


    <menuitem id="menu_invoices_analysis"
              action="action_account_analytic_account"
              name="Cost Center"
              parent="menu_hen_estimation"
              sequence="30"
              groups="group_manager,group_user"/>


    <!-- Labour -->
    <menuitem id="menu_labour"
              name="Labour"
              parent="menu_chicken_farm_management"
              sequence="70"
              groups="group_manager,group_user,group_worker"/>

    <menuitem id="menu_all_project"
              name="Projects"
              action="view_all_project"
              parent="menu_labour"
              sequence="40"
              groups="group_manager,group_user,group_worker"/>

    <menuitem id="menu_project_all_tasks"
              name="Work Orders"
              action="action_all_task"
              parent="menu_labour"
              sequence="50"
              groups="group_manager,group_user,group_worker"/>

    <menuitem id="menu_all_timesheet"
              name="Labour Sheets"
              action="action_timesheet_all"
              parent="menu_labour"
              sequence="60"
              groups="group_manager,group_user,group_worker"/>

    <menuitem id="menu_employee"
              name="Employees"
              action="view_employee_list"
              parent="menu_labour"
              sequence="70"
              groups="group_manager,group_user,group_worker"/>

    <!-- Inward -->
    <menuitem id="main_menu_hen_inward"
              name="Inward Management"
              parent="menu_chicken_farm_management"
              sequence="10"
              groups="group_manager,group_user"/>

    <menuitem id="menu_hen_incomming_po"
              name="Inward Farm Purchase"
              parent="main_menu_hen_inward"
              action="action_incomming_farm_po"
              sequence="20"/>

    <menuitem id="menu_hen_death_summary_details"
              name="Death Summary"
              parent="main_menu_hen_inward"
              action="action_death_summary"
              sequence="30"/>


    <menuitem id="menu_hen_feed_table"
              name="Feed Table"
              action="action_feed_table"
              parent="main_menu_hen_inward"
              sequence="50"/>

    <menuitem id="menu_hen_feed_table_schedule"
              name="Feed Schedules"
              action="action_feed_table_product_line"
              parent="main_menu_hen_inward"
              sequence="55"/>

    <menuitem id="menu_purchase_orders"
              name="Purchase Orders"
              parent="main_menu_hen_inward"
              action="action_inherit_purchase_order"
              sequence="70"/>


    <menuitem id="menu_production_expense"
              name="Inward Farm Expenses"
              action="action_hen_inward_production_expense"
              parent="main_menu_hen_inward"
              sequence="80"/>

    <menuitem id="menu_hen_product"
              name="Main Products"
              parent="main_menu_hen_inward"
              action="action_product_main"
              sequence="90"/>

    <!-- Production -->
    <menuitem id="main_menu_hen_production"
              name="Production"
              parent="menu_chicken_farm_management"
              sequence="20"
              groups="group_manager,group_user"/>

    <menuitem id="menu_hen_production_summary"
              name="Production Summary"
              parent="main_menu_hen_production"
              action="action_view_production_summary"
              sequence="20"/>

    <menuitem id="menu_farm_expense"
              name="Production Expenses"
              action="action_hen_inward_production_expense"
              parent="main_menu_hen_production"
              sequence="30"/>

    <menuitem id="menu_hen_feed_table_production"
              name="Production Feed Table"
              action="action_feed_table_production"
              parent="main_menu_hen_production"
              sequence="40"/>

    <menuitem id="menu_hen_feed_table_schedule_productation"
              name="Feed Table Schedule"
              action="action_feed_table_product_line_tree"
              parent="main_menu_hen_production"
              sequence="45"/>

    <menuitem id="menu_hen_death_summary_production"
              name="Production Death Summary"
              parent="main_menu_hen_production"
              action="action_death_summary_production"
              sequence="50"/>

    <menuitem id="menu_hen_inward_transfer"
              name="Production Transfer"
              parent="main_menu_hen_production"
              action="action_view_inward_transfer"
              sequence="10"/>

    <menuitem id="menu_product_product"
              name="Final product"
              parent="main_menu_hen_production"
              action="action_product"
              sequence="60"/>


    <!-- Hatchery Poultry -->
    <menuitem id="main_menu_hatchery_poultry"
              name="Hatchery"
              parent="menu_chicken_farm_management"
              sequence="40"
              groups="group_manager,group_user"/>

    <menuitem id="menu_action_hatchery_poultry"
              name="Hatchery"
              parent="main_menu_hatchery_poultry"
              action="action_hatchery_poultry"
              sequence="1"/>

    <menuitem id="menu_hatchery_equipment"
              name="Equipments"
              parent="main_menu_hatchery_poultry"
              action="action_hatchery_equipment"
              sequence="2"/>

    <menuitem id="menu_production_summary"
              name="Selection of Eggs"
              parent="main_menu_hatchery_poultry"
              action="action_production_summary"
              sequence="3"/>

    <menuitem id="menu_product_tree"
              name="Materials"
              parent="main_menu_hatchery_poultry"
              action="action_product_tree"
              sequence="4"/>

    <menuitem id="menu_temperature_humidity"
              name="Temperature"
              parent="main_menu_hatchery_poultry"
              action="action_temperature_humidity"
              sequence="5"/>

    <menuitem id="menu_sensor_time"
              name="Sanitizer Cleaning"
              parent="main_menu_hatchery_poultry"
              action="action_sensor_time"
              sequence="6"/>

    <menuitem id="menu_hatchery_fumigation"
              name="Fumigation"
              parent="main_menu_hatchery_poultry"
              action="action_hatchery_fumigation"
              sequence="7"/>

    <menuitem id="menu_incubator"
              name="Incubator"
              parent="main_menu_hatchery_poultry"
              action="action_incubator"
              sequence="8"/>

    <menuitem id="menu_incubator_ventilation"
              name="Ventilation"
              parent="main_menu_hatchery_poultry"
              action="action_incubator_ventilation"
              sequence="9"/>

    <menuitem id="menu_turn"
              name="Turning"
              parent="main_menu_hatchery_poultry"
              action="action_turn"
              sequence="10"/>

    <menuitem id="menu_hatchery_candings"
              name="Candings"
              parent="main_menu_hatchery_poultry"
              action="action_hatchery_candings"
              sequence="11"/>


    <!-- Veterinary -->
    <menuitem id="main_menu_hen_vaternity"
              name="Veterinary"
              parent="menu_chicken_farm_management"
              sequence="50"
              groups="group_manager,group_user"/>

    <menuitem id="veterinary_sub_menu"
              name="Appointment"
              sequence="5"
              parent="main_menu_hen_vaternity"
              action="hen_veterinary_action"/>

    <menuitem id="treatment_menu"
              name="Treatment"
              sequence="10"
              parent="main_menu_hen_vaternity"
              action="hen_treatment_action"/>

    <menuitem id="vaccination_menu"
              name="Vaccination"
              sequence="15"
              parent="main_menu_hen_vaternity"
              action="hen_vaccination_action"/>

    <!-- Traceability -->
    <menuitem id="main_menu_hen_traceability"
              name="Traceability"
              parent="menu_chicken_farm_management"
              sequence="60"
              groups="group_manager,group_user"/>

    <menuitem action="stock.action_production_lot_form"
              name="Batchs"
              id="menu_action_production_lot"
              parent="main_menu_hen_traceability"
              groups="stock.group_production_lot"
              sequence="5"/>

    <menuitem action="stock.action_location_form"
              name="Locations"
              id="menu_action_stock_location"
              parent="main_menu_hen_traceability"
              groups="stock.group_stock_multi_locations"
              sequence="10"/>

    <menuitem action="product.action_packaging_view"
              name="Product Packagings"
              id="menu_action_product_packagings"
              parent="main_menu_hen_traceability"
              groups="product.group_stock_packaging"
              sequence="15"/>

    <menuitem id="menu_action_traceability_wizard"
              action="pways_adv_poutry_management.action_traceability_wizard"
              name="Traceability Reports"
              parent="main_menu_hen_traceability"
              sequence="20"/>

    <menuitem id="menu_action_poultry_report"
              action="action_poultry_report_wizard"
              name="Poultry Batch Report"
              parent="main_menu_hen_traceability"
              sequence="25"/>

    <!-- Distributions -->
    <menuitem id="menu_chicken_egg_distribution"
              name="Distributions"
              parent="menu_chicken_farm_management"
              sequence="90"
    />


    <menuitem id="menu_chicken_egg_distribution_items"
              name="Egg Distributions"
              parent="menu_chicken_egg_distribution"
              action="action_chicken_egg_distribution"
              sequence="100"/>


    <!-- Configuration -->
    <menuitem id="main_menu_hen_config"
              name="Configuration"
              parent="menu_chicken_farm_management"
              sequence="110"
              groups="group_manager"/>

    <menuitem
            id="menu_config_settings"
            name="General Settings"
            parent="main_menu_hen_config"
            sequence="0"
            action="action_general_configuration_poultry"
            groups="base.group_system"/>

    <menuitem id="menu_hen_farm_details"
              name="Farm Houses"
              parent="main_menu_hen_config"
              action="action_chicken_farm"
              sequence="10"/>

    <menuitem id="menu_hen_normal_house"
              name="Inward Farm Location"
              parent="main_menu_hen_config"
              action="action_chicken_house"
              sequence="20"/>

    <menuitem id="menu_hen_production_house"
              name="Production Farm Location"
              parent="main_menu_hen_config"
              action="action_chicken_house_production"
              sequence="30"/>


    <menuitem id="main_menu_manage"
              name="Manage"
              parent="menu_chicken_farm_management"
              sequence="100"
              groups="group_manager"/>

    <menuitem id="menu_rfq_po"
              name="Requests for Quotation"
              action="rfq_purchase"
              parent="main_menu_manage"
              sequence="10"/>


    <menuitem id="menu_purchase_order"
              name="Purchase Orders"
              action="action_purchase"
              parent="main_menu_manage"
              sequence="20"/>


    <menuitem id="sale_order_menu"
              name="Sales Orders"
              action="action_sale_order"
              parent="main_menu_manage"
              sequence="30"/>


    <menuitem id="sale_quotations_menu"
              name="Quotations"
              action="action_sale_quotations"
              parent="main_menu_manage"
              sequence="40"/>


    <menuitem id="invoice_menu"
              name="Invoices"
              action="action_invoice"
              parent="main_menu_manage"
              sequence="50"/>

    <!-- <menuitem id="bill_menu" 
        name="Bills"
        action="action_bill" 
        parent="main_menu_manage" 
        sequence="60"/> -->

    <menuitem id="bill_menu"
              name="Bills"
              action="action_bill"
              parent="main_menu_manage"
              sequence="60"/>

    <menuitem id="picking_menu"
              name="Pickings"
              action="action_picking"
              parent="main_menu_manage"
              sequence="70"/>


</odoo>
